@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
}

.mainBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./public/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.logo {
  display: flex;
}

.logo img {
  margin-right: 10px; /* This will add some space between the images */
}

.card {
  background-color: #153063;
  height: 399px;
  width: 495px;
  border: 5px solid #153063;
  box-shadow: -13px 10px 10px rgb(0 0 0 / 50%);
  margin-right: 20rem;
}

.lineDivider {
  width: 0.05rem;
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.fields {
  padding: 0.6rem;
}

.createNewRoom {
  text-decoration: underline;
  margin-left: 5px;
  color: #0094ff;
}

.createNewRoom:hover {
  color: #2b824c;
}

.joinBtn:hover {
  background-color: blue;
}

/* Editor */

.main {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.aside {
  background: #1c1b27;
  width: 234px;
  height: 100vh;
}

.asideInner .logo img {
  width: 78px;
  height: 56px;
  margin: 1rem;
}

.asideInner .logo img.logo2 {
  margin-left: 0.4px;
  width: 96px;
}

.botLine {
  margin: 0 auto;
  height: 0.2rem;
  background: #323442;
}

h3 {
  margin: 1rem;
  margin-left: 1.7rem;
}

.CodeMirror {
  min-height: 100vh;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.openClose {
  position: absolute;
  right: 0;
  margin: 0.6rem;
  width: 2rem;
  transition: left 0.3s ease;
}

.openCloseBtn {
  width: 6rem;
  height: auto;
  cursor: pointer;
}

.openSidebar {
  width: 234px;
  transition: width 0.3s ease;
}

.closedSidebar {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

.openCloseBtn {
  width: 2rem;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.openBtn {
  transform: rotate(10deg);
}

.closeBtn {
  transform: rotate(180deg);
}

.editorContent {
  transition: margin-left 0.5s ease;
}

.editorContent.fullWidth {
  margin-left: 0;
}

.clientList {
  max-height: calc(90vh - 200px);
  overflow-y: scroll;
}

.clientList::-webkit-scrollbar {
  width: 0; /* Hide scrollbar for webkit browsers */
}

.clientList {
  -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.client {
  flex: 1;
  min-width: calc(50% - 0.9rem);
  box-sizing: border-box;
  padding: 0.5rem;
}

.client div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client div .username {
  text-align: center;
  font-size: 0.87rem;
}

.fixed-buttons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
